/* Dark Theme */

QWidget {
    background-color: #222222;
    color: #E0E0E0;
}

QPushButton {
    background-color: #333333;
    border: 1px solid #4A4A4A;
    padding: 8px;
    border-radius: 4px;
    color: #E0E0E0;
}

QPushButton:hover {
    background-color: #4A4A4A;
}

QLineEdit {
    background-color: #2A2A2A;
    border: 1px solid #4A4A4A;
    padding: 4px;
    border-radius: 4px;
    color: #E0E0E0;
}

QTableWidget {
    background-color: #2A2A2A;
    alternate-background-color: #2E2E2E;
    border: 1px solid #4A4A4A;
    color: #E0E0E0;
    border-radius: 4px;
}

QHeaderView::section {
    background-color: #2A2A2A;
    color: #E0E0E0;
    padding: 4px;
}

QTableWidget::item:selected {
    background-color: #4A4A4A;
    color: #FFFFFF;
}

QMenu {
    background-color: #1E1E1E;
    border: 1px solid #4A4A4A;
}

QMenu::item {
    padding: 5px 10px;
    color: #E0E0E0;
}

QMenu::item:selected {
    background-color: #333333;
    color: #FFFFFF;
}

QLabel {
    padding: 4px;
    color: #E0E0E0;
    background-color: transparent;
}

QTextEdit#console {
    background-color: #111111;
    color: #C8C8C8;
    font-family: "Courier New", monospace;
    border: 0px;
    padding: 2px;
    border-radius: 0px;
}

QTextEdit {
    background-color: #2A2A2A;
    border: 1px solid #4A4A4A;
    color: #E0E0E0;
    padding: 2px;
    border-radius: 4px;
}

QTabWidget::pane {
    border: 1px solid #4A4A4A;
    background-color: #222222;
}

QTabBar::tab {
    background-color: #222222;
    color: #E0E0E0;
    padding: 4px;
    border: 1px solid #4A4A4A;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QTabBar::tab:selected {
    background-color: #333333;
    color: #FFFFFF;
}

QTabBar::tab:hover {
    background-color: #4A4A4A;
}

QTabBar::close-button {
    image: url(:/icons/close);
    subcontrol-position: right;
}

QTabBar::close-button:hover {
    background-color: #333333;
    border-radius: 2px;
}